name: ci
on:
  push:
    branches:
      - base
      - main
      - capnp        
 
permissions:
  contents: write

jobs:
  deploy:
    name: Deploy Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          key: ${{ github.ref }}
          path: .cache

      - name: Install dependencies and build mkdocs
        run: |
          pip install mkdocs-material
          pip install "mkdocs-material[imaging]"
          mkdocs gh-deploy --force
          
      - name: switch to gcc-10 on linux
        run: |
          sudo apt install gcc-10 g++-10
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 100 --slave /usr/bin/g++ g++ /usr/bin/g++-10 --slave /usr/bin/gcov gcov /usr/bin/gcov-10
          sudo update-alternatives --set gcc /usr/bin/gcc-10

      - name: install pre-reqs and build
        run: |
          chmod +x install/installationUbuntu.sh
          sudo ./install/installationUbuntu.sh
      - name: test
        run: |
          cd build
          ./panmanUtils --help
