name: ci
on:
  push:
    branches:
      - base
      - main       
 
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache

      - name: build docs
        run: |
          pip install mkdocs-material
          mkdocs gh-deploy --force
 
      - name: install pre-reqs and build
        run: |
          chmod +x install/installationUbuntu.sh
          sudo ./install/installationUbuntu.sh
      - name: test
        run: |
          ./panmanUtils --help
